.Canvas,
.Buttons,
.Answer {
    display: flex;
    align-items: center;
    text-align: center;
}

.Canvas,
.Answer {
    justify-content: center;
}

.Canvas {
    flex-direction: column;
    padding: 5rem 1rem;
    height: 100vh;
    width: 100vw;
    background-color: #0A0404;
    
    @media screen and (min-width: 768px) {
        padding: 10rem 1rem;
    }
}

.Text {
    color: #fff;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 4rem;
    letter-spacing: 0.03ch;

    strong {
        font-weight: bold;
    }
}

.Image {
    margin: 2rem 0;
}

.Buttons,
.Answer {
    align-items: flex-end;
    flex: 1;
    gap: 1.5rem;
    width: 100%;
    max-width: 34.375rem;
    
    @media screen and (min-width: 768px) {
        align-items: center;
    }
}

.Button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    margin: 0;
    border: 2px solid var(--btn-clr);
    height: 4rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 536ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    svg {
        height: 2rem;
        width: 2rem;
        fill: var(--btn-clr);
    }
    
    &:hover {
        background-color: var(--btn-clr);
        
        svg {
            --btn-clr: #fff;
        }
    }
    
    @media screen and (min-width: 768px) {
        min-width: 12.5rem;
    }
}

.Button--yes {
    --btn-clr: #45D9AF;
}

.Button--no {
    --btn-clr: #D95070;
}
.Button--next {
    --btn-clr: #fff;

    &:hover {
        svg {
            --btn-clr: #000;
        }
    }
}